@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/custom/roomIcon.eot?5wcbp5');
  src:  url('../fonts/custom/roomIcon.eot?5wcbp5#iefix') format('embedded-opentype'),
    url('../fonts/custom/roomIcon.ttf?5wcbp5') format('truetype'),
    url('../fonts/custom/roomIcon.woff?5wcbp5') format('woff'),
    url('../fonts/custom/roomIcon.svg?5wcbp5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-impArrow:before {
  content: "\e903";
}
.icon-sofa:before {
  content: "\e902";
}
.icon-bed:before {
  content: "\e900";
}
.icon-bath:before {
  content: "\e901";
}

/*===============
Font icons*/
@font-face {
    font-family: 'icons';
    src: url('../fonts/custom/icons.eot');
    src: url('../fonts/custom/icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/custom/icons.woff') format('woff'),
         url('../fonts/custom/icons.ttf') format('truetype'),
         url('../fonts/custom/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='i-']:before {
    display: inline-block;
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-plus:before {
    content: '\0041';
}

.i-previous:before {
    content: '\0042';
}

.i-print:before {
    content: '\0043';
}

.i-register:before {
    content: '\0044';
}

.i-save:before {
    content: '\0045';
}

.i-share:before {
    content: '\0046';
}

.i-speak:before {
    content: '\0047';
}

.i-star:before {
    content: '\0048';
}

.i-streetview:before {
    content: '\0049';
}

.i-twitter:before {
    content: '\004A';
}

.i-arrange:before {
    content: '\004B';
}

.i-brochure:before {
    content: '\004C';
}

.i-close:before {
    content: '\004D';
}

.i-email:before {
    content: '\004E';
}

.i-epc:before {
    content: '\004F';
}

.i-fb:before {
    content: '\0050';
}

.i-floorplan:before {
    content: '\0051';
}

.i-home:before {
    content: '\0052';
}

.i-location:before {
    content: '\0053';
}

.i-news:before {
    content: '\0054';
}

.i-next:before {
    content: '\0055';
}