.selecty-container {
	display: inline-block;
	width: 100%;
}
.selecty-container:hover .selecty-select,
.selecty-select.open {
	border-color: #BBB;
}
.selecty-select {
	overflow: hidden;
	border: 1px solid #CCC;
	padding: 5px 10px;
	background-color: #fff;
	cursor: pointer;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selecty-select > .selecty-arrow {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	transition: transform .4s ease;
}
.selecty-container:hover .selecty-select > .selecty-arrow,
.selecty-select.open > .selecty-arrow {
	color: #333;
}
.selecty-select.open > .selecty-arrow {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.selecty-select > .selecty-content {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bold;
	color: #333;
}
.selecty-items-container {
	position: absolute;
	height: 0;
	overflow: hidden;
	opacity: .8;
	box-sizing: border-box;
	z-index: 1;
}
ul.selecty-items {
	list-style: none;
	border: 1px solid #BBB;
	border-top: none;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, .95);
	box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}
ul.selecty-items > li {
	padding: 5px 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all .1s ease;
}
ul.selecty-items > li.inside-section {
	padding-left: 30px;
}
ul.selecty-items > li[data-value]:not([disabled]) {
	cursor: pointer;
}
ul.selecty-items > li {
	cursor: default;
}
ul.selecty-items > li[data-value]:hover:not([disabled]) {
	color: #FFF;
	background-color: #B8B652;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
ul.selecty-items > li.section {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	font-style: italic;
	text-decoration: underline;
}
ul.selecty-items > li.section:first-child {
	padding-top: 5px;
}
ul.selecty-items > li.section:last-child {
	padding-bottom: 5px;
}
ul.selecty-items > li[disabled] {
	color: #AAA;
}