/*------------------------------------------------------------------

  * Template Nam: Impala - HTML5 Template
  * Template UR:  https://sazzad362.com
  * Description:  THIS TEMPLETE ARE USEFULL FOR DESIGN AGENCY COMPANY
  * Author:       Sazzad362
  * Author URI:   https://sazzad362.com
  * Version:      1.0.0
  * Last update:  --------
/*
	=================================
		@Loaded All Plugins
		@Md Sazzad Hossain
	=================================
*/
/* 
 * Embed Google Font
 * 'Catamaran', sans-serif;
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500");
/* 
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
@import url("../css/bootstrap.min.css");
/* 
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*/
@import url("../css/font-awesome.min.css");
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
@import url("../css/owl.carousel.min.css");
/*Load Custom Ico fonts*/
@import url("../css/custom-fonts.css");
/*Load selecty*/
@import url("../css/selecty-default.css");
/*magnific-popup*/
@import url("../css/magnific-popup.css");
/*
	=================================
		@Loaded All Variables
		@Md Sazzad Hossain
	=================================
*/
/*
=============
Roboto Font family
==============
*/
/*=========
Theme Color Code
===============
*/
/*=========
Theme Color Code
===============
*/
/*
==============
Base Css
==============
*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #7b7b7b;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: black;
}

a {
  color: #7b7b7b;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #80298f;
}
a:focus {
  outline: none;
  box-shadow: none;
  color: #80298f;
}

button:focus {
  outline: none;
  box-shadow: none;
}

/*
	=================================
  		Global Class
	=================================
*/
section {
  padding: 40px 0;
}

.site-logo img {
  max-width: 150px;
  width: 100%;
}

.sd-nav {
  padding: .5rem 0rem;
}
.sd-nav .navbar-nav .active > .nav-link, .sd-nav .navbar-light .navbar-nav .nav-link.active, .sd-nav .navbar-light .navbar-nav .nav-link.show, .sd-nav .navbar-light .navbar-nav .show > .nav-link {
  color: #80298f;
}
.sd-nav .dropdown-item {
  font-size: 14px;
  text-transform: uppercase;
}
.sd-nav .dropdown-item:focus, .sd-nav .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #80298f;
}
.sd-nav .dropdown-menu {
  padding: 0;
}
.sd-nav .nav-link {
  text-transform: uppercase;
}

.slider_main img {
  width: 100%;
}

.semiBold {
  font-weight: 500;
}

.title-font {
  font-size: 46px;
  margin-bottom: 50px;
}

.sub-title-font {
  font-size: 18px;
}

#valuation {
  background-color: #e6e6e6;
}

.valuation_form {
  max-width: 600px;
  width: 100%;
  margin-top: 40px;
}

.btn-primary {
  background-color: #80298f;
  border-color: #80298f;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(184, 182, 82, 0.25);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #80298f;
  border-color: #80298f;
}

.btn-primary:hover {
  background-color: #70267f;
  border-color: #70267f;
}

.sd-btn {
  padding: .2rem 2rem;
}

.p-section {
  padding-bottom: 10px;
}

#footer-top {
  background-color: #e6e6e6;
}

input[type=radio]:checked + label {
  color: #80298f;
  font-weight: bold;
}

#search_pages {
  background-color: #e6e6e6;
}

.pageTitle {
  color: #80298f;
  margin: 30px 0;
  font-size: 50px;
}

.article {
  padding: 40px 0;
}

.article p {
  line-height: 32px;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #4099ff;
}

.googlePlus {
  color: #d34836;
}

.linkedIn {
  color: #007bb6;
}

.share_area {
  margin-bottom: 40px;
}

.social_share {
  display: none;
}

.pg_search .form-group {
  margin-bottom: 0;
}
.pg_search .sd-btn {
  padding: 0 2rem;
  height: 37px;
}
.pg_search .selecty-items-container {
  position: absolute;
  height: 0;
  overflow: hidden;
  opacity: .8;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  max-width: 101px;
}

#team, #review {
  padding-top: 0;
}

#review .review_waper img {
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  margin: auto;
}
#review .review_waper p {
  margin: 15px 0;
}
#review button.owl-dot {
  width: 10px;
  height: 10px;
  background: #e6e6e6;
  margin: 2px;
  border-radius: 100%;
  text-align: center;
}
#review .owl-dots {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: -10px;
}
#review button.owl-dot.active {
  background: #80298f;
}

.contact_area {
  margin-top: 40px;
}
.contact_area .address h4 {
  font-size: 18px;
}

ul.selecty-items > li[data-value]:hover:not([disabled]) {
  background-color: #80298f;
}

.borderDark {
  border: 1px solid #dfdfdf;
}

/* =======
Top Header CSS
=========== */
#header-top {
  background-color: #80298f;
  padding: 5px 0;
}

.social_media i {
  color: white;
}

#header_nav {
  padding: 0;
  background-color: #F8F9FA;
}

.sd-nav .dropdown-menu {
  background-color: #f8f9fa;
  border: 0;
  border-radius: 0;
}
.sd-nav .dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}
.sd-nav .dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

/*==========
Slider Area Css
===============*/
#slider_section {
  padding: 0;
}
#slider_section .slider_main .owl-next, #slider_section .slider_main .owl-prev {
  font-size: 50px;
  color: white;
}
#slider_section .slider_main .owl-next {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translateY(-50%);
}
#slider_section .slider_main .owl-prev {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
}
#slider_section .slider_main .owl-prev span, #slider_section .slider_main .owl-next span {
  background-color: #80298f;
  padding: 0px 10px 10px 9px;
}
#slider_section .slider_overlay_search {
  background-color: rgba(230, 230, 230, 0.72);
  padding: 50px 15px 100px 15px;
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 8%;
  left: 9%;
  z-index: 1;
}
#slider_section .slider_overlay_search .selecty-items-container {
  width: 90%;
}
@media (max-width: 768px) {
  #slider_section .slider_overlay_search {
    max-width: inherit;
    width: 100%;
    position: inherit;
    top: inherit;
    left: inherit;
  }
  #slider_section .slider_overlay_search .selecty-items-container {
    width: 90%;
  }
}

/*
	=================================
  		Featured Class
	=================================
*/
#featured .featured_block {
  position: relative;
  overflow: hidden;
}
#featured .featured_block a {
  color: white;
}
#featured .featured_block:hover img {
  transform: scale(1.3) translateZ(0);
}
#featured .featured_block:hover .featured-icon,
#featured .featured_block:hover .overlay {
  opacity: 1;
}
#featured .featured_block:hover .featured-meta {
  opacity: 1;
  margin-top: 48px;
}
#featured .featured_block:hover .overlay-content {
  transform: translateY(0);
}
#featured .featured_block img {
  transition: 0.5s;
}
#featured .featured_block i {
  font-size: 1rem;
}
#featured .featured_block .featured-title {
  color: white;
  font-weight: 600;
}
#featured .featured_block .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  background-color: #0000009e;
}
#featured .featured_block .featured-icon {
  margin-top: 20px;
}
#featured .featured_block .featured-content {
  margin-top: 10px;
}
#featured .featured_block .overlay-content {
  transition: 0.5s;
  transform: translateY(-20px);
}
#featured .featured_block .featured-meta {
  opacity: 0;
  margin: 0;
  transition: 0.5s;
}
#featured .featured_block .featured-meta a {
  color: white;
}
#featured .owl-nav {
  font-size: 72px;
}
#featured .owl-prev span {
  line-height: 0;
  background: #f00;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-30px);
}
#featured .owl-next span {
  line-height: 0;
  background: #f00;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-30px);
}

/*====================
Footer CSS Start HERE
======================*/
#footer-top .widgets:hover .icon {
  color: #80298f;
  transform: translateY(10px);
}
#footer-top .widgets .icon {
  font-size: 40px;
  transition: 0.5s;
}

#footer_copy {
  padding: 20px 0;
}
#footer_copy .copy-left p {
  margin-bottom: 0;
  font-size: 14px;
}
#footer_copy .copy_right a {
  font-size: 14px;
}

/*===========
	Team CSS
=============*/
.our-team .pic {
  position: relative;
  overflow: hidden;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  transition: all 0.20s ease-in-out;
}
.our-team:hover img {
  transform: scale(1.1, 1.1);
}
.our-team:hover .over-layer {
  bottom: 0;
}
.our-team .over-layer {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 25px 15px;
  background: rgba(172, 116, 182, 0.72);
  transition: all 0.20s ease-in-out;
}
.our-team .description {
  font-size: 14px;
  color: white;
}
.our-team .social-link {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 8%;
  left: 8%;
}
.our-team .social-link li {
  display: inline-block;
}
.our-team .social-link li a {
  border: 1px solid #fff;
  padding: 1px 7px;
  color: #80298f;
  background: #fff;
  line-height: 25px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.our-team .social-link li a:hover {
  text-decoration: none;
  color: #333333;
}
.our-team .team-prof {
  text-align: center;
}
.our-team .team-prof a {
  color: #333333;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}
.our-team .team-prof a:hover {
  text-decoration: none;
  color: #80298f;
}
.our-team .team-prof small {
  color: #80298f;
  display: block;
  font-size: 12px;
  margin-top: 3%;
  text-transform: uppercase;
}

@media screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 20px;
  }
}
/*
==============
Base Css
==============
*/
#blog-section .pagination a {
  color: #7b7b7b;
}
#blog-section .pagination a:hover {
  background: #80298f;
  border-color: #80298f;
  color: white !important;
}
#blog-section .blog-title {
  color: black;
}
#blog-section .blog-title:hover {
  color: #80298f;
}
#blog-section .pagination-active {
  background: #80298f;
  border-color: #80298f;
  color: white !important;
}
#blog-section .form-control:focus {
  box-shadow: none;
}
#blog-section img.mr-3.img-fluid {
  width: 50px;
}
#blog-section .blog_title {
  font-size: 30px;
  letter-spacing: 2px;
}
#blog-section .meta_text {
  font-size: 12px;
}

@media (max-width: 767px) {
  #blog-section .media {
    display: initial;
  }
  #blog-section .media img {
    width: 100%;
  }
  #blog-section .blog_title {
    margin-top: 15px !important;
  }
}
/*==============
Single blog area
===============*/
#single_blog {
  padding: 0 0 40px 0;
}

/* ==========================
	Property Single Page
=============================*/
#property_title {
  background-color: #e6e6e6;
}

.product_gallary {
  position: relative;
}
.product_gallary .galary_img:hover .gal_overlay {
  opacity: 1;
  height: 100%;
}
.product_gallary .gal_overlay {
  position: absolute;
  background-color: #0000009e;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.product_gallary .gal_overlay i {
  font-size: 25px;
  color: #fff;
}

.productDescription {
  margin: 25px 0;
  color: #80298f;
}

.property_details_content p {
  line-height: 31px;
}

.map_area {
  margin: 25px 0;
}

/*=============
	News Letter CSS
====================*/
.modal-newsletter {
  color: #7b7b7b;
  font-size: 15px;
}
.modal-newsletter .modal-content {
  padding: 30px;
  border-radius: 0;
  border: none;
}
.modal-newsletter .modal-header {
  border-bottom: none;
  position: relative;
  border-radius: 0;
}
.modal-newsletter h4 {
  color: #80298f;
  font-size: 30px;
  margin: 0;
  font-weight: 400;
}
.modal-newsletter .close {
  position: absolute;
  top: -15px;
  right: -15px;
  text-shadow: none;
  opacity: 0.3;
  font-size: 24px;
}
.modal-newsletter .close:hover {
  opacity: 0.8;
}
.modal-newsletter .icon-box {
  color: #7265ea;
  display: inline-block;
  z-index: 9;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.modal-newsletter .icon-box i {
  font-size: 110px;
}
.modal-newsletter .form-control, .modal-newsletter .btn {
  min-height: 46px;
  border-radius: 0;
}
.modal-newsletter .form-control {
  box-shadow: none;
  border-color: #dbdbdb;
}
.modal-newsletter .form-control:focus {
  border-color: #80298f;
  box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
}
.modal-newsletter .btn {
  color: #fff;
  background: #80298f;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  padding: 6px 20px;
  min-width: 150px;
  margin-left: 6px !important;
  border: none;
}
.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
  box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
  background: #70267f;
  outline: none;
}
.modal-newsletter .input-group {
  margin-top: 30px;
}

.hint-text {
  margin: 100px auto;
  text-align: center;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}
@media (max-width: 767px) {
  .modal-newsletter .input-group {
    position: relative;
    display: initial;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .modal-newsletter .sapop {
    width: 100%;
    margin-bottom: 15px;
  }
  .modal-newsletter .new_button {
    margin-left: 0 !important;
    width: 100%;
  }
}
/*
	=================================
  		Contact Us
	=================================
*/
#contact-us .contact-title h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #80298f;
}
#contact-us .contact-title h6 {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
#contact-us .opening-title {
  background: #2867b6;
}
#contact-us .opening-title h4 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
}
#contact-us .opening-hours {
  transition: 0.5s;
}
#contact-us .opening-hours:hover {
  box-shadow: 0 0 7px rgba(167, 167, 167, 0.5);
}
#contact-us input:hover,
#contact-us select:hover,
#contact-us textarea:hover {
  border-color: #909090;
}
#contact-us input:focus,
#contact-us select:focus,
#contact-us textarea:focus {
  border-color: #909090;
  box-shadow: none;
}

/*====================
	Login Registration
=====================*/
#registration .signup-content {
  max-width: 600px;
  width: 100%;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 35px;
  margin: auto;
  border-radius: 10px;
}
#registration .form-control {
  font-size: 12px;
}
#registration .form-check {
  margin-bottom: 5px;
}

.pageTitleRegis {
  color: #80298f;
  margin: 30px 0 0;
  font-size: 50px;
}

/*=============
	Profile Page CSS
====================*/
#profile .profile-list .list-group-item.active {
  z-index: 2;
  color: #495057;
  background-color: transparent;
  border-color: #dfdfdf;
}
#profile .profile-list .list-group-item.active:after {
  position: absolute;
  content: "";
  border-left: 5px solid #80298f;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#profile .profile-list .user-thumb {
  border: 1px solid #dfdfdf;
  border-bottom: 0;
  padding: 10px 0 10px 10px;
}

/*# sourceMappingURL=style.css.map */
