/*
=============
Roboto Font family
==============
*/
$base-font: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;

/*=========
Theme Color Code
===============
*/

$activeColor : #80298F;
$activeBg : #80298F;
$darkText : #7b7b7b;
$colorWhite : #fff;
$colorBlack : #000;
$white: #fff;
$sectionBg : #E6E6E6;
$buttonHover : #70267F;
$BorderColor : #dfdfdf;

/*=========
Theme Color Code
===============
*/

$facebook : #3B5998;
$twitter : #4099FF;
$googlePlus : #D34836;
$linkedIn : #007BB6;