/*
==============
Base Css
==============
*/
body{
    font-family: $base-font;
    font-size: 14px;
    line-height: 25px;
    color: $darkText;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: $raleway;
    font-weight:100;
    color: $colorBlack;
}

a{  
    color:$darkText;
    transition: 0.5s;
    &:hover{
        text-decoration: none;
        color: $activeColor;
    }
    &:focus{
        outline: none;
        box-shadow: none;
        color: $activeColor;
    }
}

button{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

/*
	=================================
  		Global Class
	=================================
*/
section{
    padding: 40px 0;
}

.site-logo img{
    max-width:150px;
    width: 100%;
}

.sd-nav{
    padding:.5rem 0rem;
    .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: $activeColor;
    }
    .dropdown-item{
        font-size:14px;
        text-transform: uppercase;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: $activeColor;
    }
    .dropdown-menu{
        padding: 0;
    }
    .nav-link {
        text-transform: uppercase;
    }
}

.slider_main{
    img{
        width: 100%;
    }
}
.semiBold{
    font-weight:500;
}
.title-font{
    font-size:46px;
    margin-bottom: 50px ;
}
.sub-title-font{
    font-size:18px;
}

#valuation{
    background-color:$sectionBg;
}

.valuation_form{
    max-width:600px;
    width: 100%;
    margin-top: 40px;
}

.btn-primary{
    background-color: $activeColor;
    border-color: $activeColor;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(184, 182, 82, 0.25);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $activeColor;
    border-color: $activeColor;
}

.btn-primary:hover {
    background-color: $buttonHover;
    border-color: $buttonHover;
}

.sd-btn{
    padding:.2rem 2rem;
}

.p-section{
    padding-bottom: 10px;
}

#footer-top{
    background-color:$sectionBg;
}

input[type=radio]:checked + label {
  color: $activeColor;
  font-weight:bold;
} 

#search_pages{
    background-color:$sectionBg;
}
.pageTitle{
    color:$activeColor;
    margin:30px 0;
    font-size: 50px;
}
.article{
    padding: 40px 0;
}
.article p {
    line-height:32px;
}

.facebook{
    color: $facebook;
}
.twitter{
    color: $twitter;
}
.googlePlus{
    color: $googlePlus;
}
.linkedIn{
    color: $linkedIn;
}
.share_area{
    margin-bottom: 40px;
}
.social_share{
    display: none;
}
.pg_search{
    .form-group{
        margin-bottom: 0;
    }
    .sd-btn {
        padding: 0 2rem;
        height: 37px;
    }
    .selecty-items-container {
        position: absolute;
        height: 0;
        overflow: hidden;
        opacity: .8;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
        max-width: 101px;
    }
}

#team , #review{
    padding-top:0;
}

#review{
    .review_waper img{
        border-radius: 50%;
        width: 100%;
        max-width: 100px;
        margin: auto;
    }
    .review_waper p {
        margin:15px 0;
    }
    button.owl-dot {
        width: 10px;
        height: 10px;
        background: #e6e6e6;
        margin: 2px;
        border-radius: 100%;
        text-align: center;
    }
    .owl-dots {
        margin: auto;
        display: block;
        text-align: center;
        margin-top: 15px;
        margin-bottom: -10px;
    }
    button.owl-dot.active {
        background: $activeColor;
    }
}

.contact_area{
    margin-top: 40px;
    .address{
        h4{
            font-size: 18px;
        }
    }
}

ul.selecty-items > li[data-value]:hover:not([disabled]) {
    background-color: $activeColor;
}

.borderDark{
    border:1px solid $BorderColor;
}