/*
==============
Base Css
==============
*/
#blog-section{
	.pagination a{
		color: $darkText;
		&:hover{
			background: $activeBg;
			border-color:$activeBg;
			color: $colorWhite !important;
		}
	}
	.blog-title{
		color: $colorBlack;
		&:hover{
			color: $activeColor;
		}
	}
	.pagination-active{
		background: $activeBg;
		border-color:$activeBg;
		color: $colorWhite !important;
	}
	.form-control{
		&:focus{
			box-shadow: none;
		}
	}
	img.mr-3.img-fluid{
		width: 50px;
	}
	.blog_title {
	    font-size: 30px;
	    letter-spacing: 2px;
	}
	.meta_text{
		font-size:12px;
	}
}

@media (max-width: 767px) {
	#blog-section{
		.media {
			display: initial;
			img{
				width: 100%;
			}
		}
		.blog_title {
		    margin-top: 15px !important;
		}
	}
}

/*==============
Single blog area
===============*/

#single_blog{
	padding: 0 0 40px 0;
}