/*
	=================================
  		Contact Us
	=================================
*/

#contact-us{
	.contact-title{
		h2{
		    font-weight: 400;
		    font-size: 28px;
	        line-height: 28px;
		    color: $activeColor;
		}
		h6{
			font-size: 14px;
			line-height: 14px;
			font-weight: 400;
		}
	}
	.opening-title{
		background: #2867b6;
		h4{
			color: $white;
		    font-size: 16px;
		    font-weight: 400;
	        line-height: 1.4em;
		}
	}
	.opening-hours{
		transition: 0.5s;
		&:hover{
			box-shadow: 0 0 7px rgba(167,167,167,.5);
		}
	}

	input,
	select,
	textarea{
		&:hover{
			border-color: #909090;
		}
		&:focus{
			border-color: #909090;
			box-shadow: none;
		}
	}
}