/*
	=================================
  		Featured Class
	=================================
*/

#featured{
	.featured_block{
		position: relative;
		overflow: hidden;
		a{
			color:$colorWhite;
		}
		&:hover{
			img{
				transform: scale(1.3) translateZ(0);
			}
			.featured-icon,
			.overlay{
				opacity: 1
			}
			.featured-meta{
				opacity: 1;
				margin-top: 48px;
			}
			.overlay-content{
				transform: translateY(0);
			}
		}
		img{
			transition: 0.5s;
		}
		i{
			font-size: 1rem;
		}
		.featured-title{
			color: $white;
		    font-weight: 600;
		}
		.overlay{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			opacity: 0;
			transition: 0.5s;
			background-color: #0000009e;
		}
		.featured-icon{
			margin-top: 20px;
		}
		.featured-content{
			margin-top: 10px;
		}
		.overlay-content{
			transition: 0.5s;
			transform: translateY(-20px);
		}
		.featured-meta{
			opacity: 0;
			margin: 0;
			transition: 0.5s;
			a{
				color:$colorWhite;
			}
		}
	}
	.owl-nav {
    font-size: 72px;
	}
	.owl-prev span {
	    line-height: 0;
	    background: #f00;
	    color: #fff;
	    position: absolute;
	    top: 50%;
	    left: 7px;
	    transform: translateY(-30px);
	}
	.owl-next span {
	    line-height: 0;
	    background: #f00;
	    color: #fff;
	    position: absolute;
	    top: 50%;
	    right: 7px;
	    transform: translateY(-30px);
	}
}