/*====================
Footer CSS Start HERE
======================*/

#footer-top{
	.widgets{
		&:hover {
			.icon{
				color:$activeColor;
				transform: translateY(10px);
			}
		}
		.icon{
			font-size: 40px;
			transition: 0.5s;
		}
	}
}
#footer_copy{
	padding: 20px 0;
	.copy-left p {
	    margin-bottom: 0;
	    font-size:14px;
	}
	.copy_right a{
	    font-size:14px;
	}
}