/* =======
Top Header CSS
=========== */

#header-top{
	background-color: $activeBg;
	padding:5px 0;
}
.social_media i {
	color: $colorWhite;
}
#header_nav{
	padding:0;
	background-color:#F8F9FA;
}

.sd-nav{

	.dropdown-menu {
	    background-color: #f8f9fa;
	    border: 0;
	    border-radius: 0;
	}
	.dropdown .dropdown-menu {
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;

	    max-height: 0;
	    display: block;
	    overflow: hidden;
	    opacity: 0;
	}
	.dropdown:hover .dropdown-menu {
	    max-height: 200px;
	    opacity: 1;
	}
}