/*====================
	Login Registration
=====================*/

#registration{
	.signup-content{
		max-width:600px;
		width: 100%;
		box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.1);
		padding: 35px;
		margin:auto;
		border-radius: 10px;
	}
	.form-control{
		font-size: 12px;
	}
	.form-check{
		margin-bottom: 5px;
	}
}
.pageTitleRegis {
    color: #80298f;
    margin: 30px 0 0;
    font-size: 50px;
}