/*=============
	News Letter CSS
====================*/

.modal-newsletter {
  color: $darkText;
  font-size: 15px;
  .modal-content {
    padding: 30px;
    border-radius: 0;
    border: none;
  }
  .modal-header {
    border-bottom: none;
    position: relative;
    border-radius: 0;
  }
  h4 {
    color: $activeColor;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
  }
  .close {
    position: absolute;
    top: -15px;
    right: -15px;
    text-shadow: none;
    opacity: 0.3;
    font-size: 24px;
    &:hover {
      opacity: 0.8;
    }
  }
  .icon-box {
    color: #7265ea;
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    i {
      font-size: 110px;
    }
  }
  .form-control, .btn {
    min-height: 46px;
    border-radius: 0;
  }
  .form-control {
    box-shadow: none;
    border-color: #dbdbdb;
    &:focus {
      border-color: $activeColor;
      box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
    }
  }
  .btn {
    color: #fff;
    background: $activeColor;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    margin-left: 6px !important;
    border: none;
    &:hover, &:focus {
      box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
      background: $buttonHover;
      outline: none;
    }
  }
  .input-group {
    margin-top: 30px;
  }

}

.hint-text {
  margin: 100px auto;
  text-align: center;
}

  @media (min-width: 576px){
  .modal-dialog {
      max-width: 600px;
      margin: 1.75rem auto;
  }
}

@media (max-width: 767px){

  .modal-newsletter{

    .input-group {
          position: relative;
          display: initial;
          flex-wrap: wrap;
          align-items: stretch;
      }

      .sapop{
        width: 100%;
        margin-bottom: 15px;
      }

      .new_button{
        margin-left: 0 !important;
        width: 100%;
      }

    }
  }
