/* ==========================
	Property Single Page
=============================*/

#property_title{
	background-color: $sectionBg;
}

.product_gallary{
	position: relative;
	.galary_img{
		&:hover{
			.gal_overlay{
				opacity:1;
				height: 100%;
			}
		}
	}
	.gal_overlay{
		position: absolute;
		background-color:#0000009e;
		height: 0;
		width:100%;
		top: 0;
		left:0;
		opacity: 0;
		transition: 0.5s;
		i{
			font-size: 25px;
			color:#fff;
		}
	}
}
.productDescription {
    margin: 25px 0;
    color:$activeColor;
}

.property_details_content {
	p{
		line-height: 31px;
	}
}
.map_area{
	margin:25px 0;
}