/*=============
	Profile Page CSS
====================*/

#profile{
	.profile-list{
		.list-group-item.active {
		    z-index: 2;
		    color: #495057;
		    background-color: transparent;
		    border-color:$BorderColor;
		    &:after{
				position: absolute;
				content: "";
				border-left: 5px solid #80298f;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
		    }
		}
		.user-thumb{
			border:1px solid $BorderColor;
			border-bottom:0;
			padding: 10px 0 10px 10px;
		}	
	}
}