/*==========
Slider Area Css
===============*/

#slider_section{
	padding: 0;
	.slider_main{
		.owl-next , .owl-prev{
			font-size: 50px;
			color: $colorWhite;
		}
		.owl-next{
			position: absolute;
			top:45%;
			right: 0;
			transform: translateY(-50%);
		}
		.owl-prev{
			position: absolute;
			top:45%;
			left: 0;
			transform: translateY(-50%);
		}
		.owl-prev span , .owl-next span{
		    background-color: $activeColor;
		    padding: 0px 10px 10px 9px;
		}
	}
	.slider_overlay_search {
		background-color: rgba(230, 230, 230, 0.72);
		padding: 50px 15px 100px 15px;
		max-width: 600px;
		width: 100%;
		position: absolute;
		top: 8%;
		left: 9%;
		z-index: 1;
		.selecty-items-container {
		    width: 90%;
		}
	}
	@media (max-width:768px) {
	.slider_overlay_search {
		max-width: inherit;
		width: 100%;
		position: inherit;
		top: inherit;
		left: inherit;
		.selecty-items-container {
		    width: 90%;
		}
	}
}
}

