/*===========
	Team CSS
=============*/


$color_1: #fff;
$color_2: $activeColor;
$color_3: #333;

.our-team {
	.pic {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			transition: all 0.20s ease-in-out;
		}
	}
	&:hover {
		img {
			transform: scale(1.1,1.1);
		}
		.over-layer {
			bottom: 0;
		}
	}
	.over-layer {
		position: absolute;
		left: 0;
		bottom: -100%;
		width: 100%;
		height: 100%;
		padding: 25px 15px;
		background: rgba(172, 116, 182, 0.72);
		transition: all 0.20s ease-in-out;
	}
	.description {
		font-size: 14px;
		color: $color_1;
	}
	.social-link {
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		bottom: 8%;
		left: 8%;
		li {
			display: inline-block;
			a {
				border: 1px solid #fff;
				padding: 1px 7px;
				color: $color_2;
				background: #fff;
				line-height: 25px;
				text-align: center;
				transition: all 0.3s ease 0s;
				&:hover {
					text-decoration: none;
					color: $color_3;
				}
			}
		}
	}
	.team-prof {
		text-align: center;
		a {
			color: $color_3;
			font-size: 18px;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    font-weight: 400;
			&:hover {
				text-decoration: none;
				color: $color_2;
			}
		}
		small {
			color: $color_2;
			display: block;
			font-size: 12px;
			margin-top: 3%;
			text-transform: uppercase;
		}
	}
}

@media screen and (max-width: 990px){
    .our-team{
        margin-bottom: 20px;
    }
}